{% if alb_label %}
resource "aws_lb" "{{ alb_label }}" {
  name               = local.alb_name
  internal           = false
  load_balancer_type = "application"
  security_groups    = [aws_security_group.{{ alb_sg_label }}.id]
  subnets            = [{% for subnet in public_subnets %}aws_subnet.{{ subnet.label }}.id{% if not loop.last %}, {% endif %}{% endfor %}]
}

resource "aws_lb_target_group" "{{ target_group_label }}" {
  name        = local.target_group_name
  port        = var.container_port
  protocol    = "HTTP"
  target_type = "ip"
  vpc_id      = aws_vpc.{{ vpc_label }}.id

  health_check {
    enabled             = true
    path                = "{{ health_check_path }}"
    protocol            = "HTTP"
    matcher             = "200-399"
    interval            = 30
    timeout             = 5
    healthy_threshold   = 2
    unhealthy_threshold = 3
  }
}

resource "aws_lb_listener" "{{ listener_label }}" {
  load_balancer_arn = aws_lb.{{ alb_label }}.arn
  port              = 80
  protocol          = "HTTP"

  default_action {
    type             = "forward"
    target_group_arn = aws_lb_target_group.{{ target_group_label }}.arn
  }
}

resource "aws_lb_listener" "https" {
  count             = var.acm_certificate_arn != null ? 1 : 0
  load_balancer_arn = aws_lb.{{ alb_label }}.arn
  port              = 443
  protocol          = "HTTPS"
  ssl_policy        = "ELBSecurityPolicy-TLS13-1-2-2021-06"
  certificate_arn   = var.acm_certificate_arn

  default_action {
    type             = "forward"
    target_group_arn = aws_lb_target_group.{{ target_group_label }}.arn
  }
}
{% endif %}
