locals {
  name_prefix = lower(replace("${var.project_name}-${var.environment}", "_", "-"))

  common_tags = {
    Project     = var.project_name
    Environment = var.environment
    ManagedBy   = "nimbus-terraform-generator"
  }
}
