resource "random_password" "{{ db_password_label }}" {
  length  = 32
  special = true
}

resource "aws_secretsmanager_secret" "{{ secret_label }}" {
  name                    = "${local.name_prefix}/database"
  recovery_window_in_days = 0
}

resource "aws_secretsmanager_secret_version" "{{ secret_version_label }}" {
  secret_id = aws_secretsmanager_secret.{{ secret_label }}.id
  secret_string = jsonencode({
    username = var.db_username
    password = random_password.{{ db_password_label }}.result
    database = var.db_name
  })
}
