aws_region      = "{{ region }}"
project_name    = "{{ project_name }}"
environment     = "{{ environment }}"
vpc_cidr        = "{{ vpc_cidr }}"
container_image = "replace-with-your-image"
container_port  = {{ container_port }}
db_username     = "{{ db_username }}"
db_name        = "{{ db_name }}"
